.nav {
	margin: 0;
	padding: 0 20px;
	list-style: none;
	display: flex;

	li {
		margin: 0;
		display: flex;

		a {
			padding: 17px;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			border-bottom: 2px solid transparent;
			text-decoration: none;

			&.active {
				border-bottom: 2px solid #fff;
			}
		}
	}
}

.logo-container {
	height: 60px;
	align-items: flex-end;

	img.logo {
		height: 100%;
		object-fit: contain;
	}
}
